/* 
    General Styles
*/
html, body {
    background-image: url("././bg.jpg");
    color: white;
    height: 100%;
    font-family: 'Teko', sans-serif;
}   

.logoSW {
    height: 50px;
}

footer {
    color: white;
}

.jumbotron, .card {
    background-color: #363636;
    color: white;
}

nav {
    border-bottom: 2px solid #FFE81F;
    background-color: black;
}

.card {
    border-bottom: 2px solid gray;
}

.imagenesCharPla {
    margin-bottom: 10px;
    border-bottom: 2px solid gray;
}

.learnMore {
    font-size: 12px;
}

.loginForm {
    width: 50%;
    border-radius: 10px;
    text-align: center;
    background-color: #363636;
    box-shadow: 0px 5px 15px #3a3a3a;
    padding: 10px
}

.loginForm:hover {
    box-shadow: 0px 5px 15px #FFE81F;
    transition: 1.5s;
}

.btnCreate {
    cursor: pointer;
}

.inputLogin:focus {
    box-shadow: 0px 0px 10px white;
    transition: 1.5s;
}