/* 
    General Styles
*/
html, body {
    background-image: url("././bg.jpg");
    color: white;
    height: 100%;
    font-family: Helvetica, sans-serif;
}   

.logoSW {
    height: 50px;
}

footer {
    color: white;
}

.jumbotron, .card {
    background-color: #363636;
    color: white;
}

nav {
    border-bottom: 2px solid #FFE81F;
    background-color: black;
}

.card {
    border-bottom: 2px solid gray;
}

.imagenesCharPla {
    margin-bottom: 10px;
    border-bottom: 2px solid gray;
}

.learnMore {
    font-size: 12px;
}

.loginForm {
    text-align: center;
    background-color: #363636;
    box-shadow: 0px 0px 15px #959595;
    height: 250px;
}

.loginRightBox {
    width: 50%;
}

.imgLoginBox {
    width: 500px;
    object-fit: contain;
}